<%= div_for comment do %>
<div>
    <p>
		<strong><%= comment.name %></strong> said:
	<% if comment.post.owned_by? current_user %>
		<span><%= link_to ' Delete', [@post, comment], :confirm => "Are you sure?", :method => :delete, :remote => true, :class => 'icon-remove label label-important' %></span>
	<% end %>
	</p>
  
</div>
<div>
  <blockquote><p><%= comment.comment %></p></blockquote>
</div>
<% end %>
