
	<div class="well">
		<dt><%= comment.commenter %> 

		<%= link_to "", [comment.post, comment], 
					:confirm => "Are you sure?",
					:method => :delete,
					:class => "btn btn-mini btn-warning icon-remove " %></dt>
		<dd><%= comment.body %></dd>
	</div>
	<br />
