<%= div_for comment do %>
<div>
  <strong>
    <p><%= comment.name %> said:</p>
  </strong>
  <% if comment.post.owned_by? current_user %>
    <%= link_to 'Delete', [@post, comment], :confirm => "Are you sure?", :method => :delete, :remote => true %>
  <% end %>
</div>
<div>
  <p><%= comment.comment %></p>
</div>
<% end %>