<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
		
		<div class="hero-unit">
			<h1>Learn Ruby on Rails Blog</h1>
			<p>Blog to understand Ruby on Rails</p>
		</div>
		
		<div class="row">
			<span class="span12"><%= yield %></span>
		</div>
		
	</div>

</body>
</html>
